<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title></title>
</head>
<body>
        <section class="container-xl mb-5 mt-5">
            <div class="flex items-center justify-center">
              <a href="/events/" class="">
                  <button class="px-3 py-2 bg-blue-500 rounded text-white font-bold hover:bg-purple-700">View All Events</button>
              </a>
            </div>
          </section>
        <footer class="bg-blue-700 p-4 flex items-center justify-center rounded">
            <p>
                <small class="text-gray-300">&copy; Copyright </small>
    
                <Span class="text-sm text-blue-200 font-bold ml-2"> Shishupal Kumar, 2021 </Span>
            </p>
        </footer>
</body>
</html>