<%- include('../partials/header') -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AltEvents</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main class="min-screen-h">
      <section class="container-xl mx-auto">
        <div class="flex p-5 mb-5">
          <img
            src="/images/event1.jpg"
            alt="event1"
            class="h-3/4 w-2/6"
          />
          <img
          src="/images/event2.jpg"
          alt="event1"
          class="h-3/4 w-2/6"
        />
        <img
        src="/images/event3.jpg"
        alt="event1"
        class="h-3/4 w-2/6"
      />
        </div>
      </section>
      <section class="container-xl p-5 mb-5 mt-5">
          <h3 class="text-2xl text-center font-bold text-green-900 mb-5">
            About AltEvents 
          </h3>
          <p class="mb-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus eveniet inventore aperiam iure placeat tempore quae, corporis iste numquam accusamus harum corrupti amet pariatur nostrum itaque, dolor mollitia perferendis veniam Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde commodi tempora labore architecto nobis necessitatibus voluptates? Quaerat distinctio culpa quia provident corrupti totam a? Aliquid minima mollitia obcaecati aut porro.
          </p>
          <p>
            Pregator impermutabile ignoranza e sí sí. A del prieghi discenda una quella da e maesta che. Informati quegli propria udita temporali tanto manifestamente dovendo noi dare, nella seguendo porgere forse noi, intendo sia nel al divina per dea. Propria nel.
          </p>
      </section>
    </main>
  </body>
</html>
<%- include('../partials/footer') -%>
